<div id="graph" [hidden]="showDependency" class="modal-body rounded border border-1 border-success bg-dark">
  <div class="container text-white">
    <div class="row">
      <div class="col-11"><h2 style="text-align: center;">Dependency Diagram</h2></div>
      <div class="col-1" id="delete_but">
        <button (click)="showDependency=true" class="text-end btn btn-dark remove-padding">
          <img src="/assets/svg/x.svg" alt="NOT FOUND">
        </button>
      </div>
    </div>
  </div>
  <div #graphContainer></div>
</div>
