  <div #graphContainer [hidden]="showDependency" class="rounded border border-3 mt-2 border-secondary"
       style="max-height: 60vh; overflow: auto;">
    <div class="container text-white"> <h2 style="text-align: center;">Dependency Diagram</h2>
      <div class="row">
        <div class="col-11"></div>
        <div class="col-1" id="delete_but">
          <button (click)="showDependency=true"class="text-end btn btn-dark remove-padding">
            <img src="/assets/svg/x.svg" alt="NOT FOUND">
          </button>
        </div>
      </div>
  </div>
  </div>
