.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  margin-top: 100px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}

.logo {
  height: 50px;
  width: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
}

.logo h2 {
  text-align: center;
  font-size: 20px;
}

.signup {
  text-align: center;
  padding-top: 15px;
}

login-form {
  height: 400px;
  margin: 20px;
  background: #1a2226;
  border-radius: 40px 40px 20px 20px;
}

.card-body{
  width: 300px;
}


form {
  font-size: 14px;
}

a {
  color: var(--green);
}

a:hover {
  color: var(--green)
}

.btn:hover {
  background: #49D091;
}

.btn {
  color: #49D091;
  border-color: #49D091;
}

/*imput[type="email"]{*/
/*  background: #1a2226;*/
/*  border: 1px solid #0db8de;*/
/*  border-radius: 8px;*/
/*  margin-bottom: 25px;*/
/*}*/






















/*#login-container{*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/

/*}*/

/*small {*/
/*  color: red;*/
/*}*/

/*label {*/
/*  font-weight: 600;*/
/*}*/

/*#login-card {*/
/*  width: 100%;*/
/*  border-radius: 10px;*/
/*  !*height: 300px;*!*/
/*  box-shadow: 5px 5px 5px gray;*/
/*}*/
/*.form-control {*/
/*  !* border-color: #00fa9a !important; *!*/
/*}*/
/*input:focus {*/
/*  border-color: #00fa9a !important;*/
/*  outline: none !important;*/
/*  box-shadow: none !important;*/
/*}*/

/*#signin-bt {*/
/*  background: none;*/
/*  border-radius: 10px;*/
/*  border: 2px solid #00fa9a;*/
/*  color: #00fa9a;*/
/*}*/

/*#signin-bt:hover {*/
/*  background: none;*/
/*  border-radius: 10px;*/
/*  border: 2px solid #00fa9a;*/
/*  color: #00fa9a;*/

/*}*/

/*#signup-bt {*/
/*  border-radius: 10px;*/
/*  border: 1px solid blue;*/
/*  background: mediumspringgreen;*/
/*  color: mediumblue;*/
/*  text-align: center;*/
/*  width: 95%;*/
/*}*/

/** {*/
/*  text-decoration: none;*/
/*  list-style: none;*/
/*}*/

/*a:hover {*/
/*  text-decoration: none;*/
/*}*/

/*#sign-up {*/
/*  padding-top: 10px;*/
/*  text-align: center;*/
/*  color: mediumblue;*/
/*}*/

/*#forgot-pass {*/
/*  text-align: center;*/
/*  color: mediumblue;*/
/*}*/

/*#welcome {*/
/*  padding-top: 10px;*/
/*  font-family: "Adobe Caslon Pro Bold", monospace;*/
/*}*/










/*#login-container{*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/

/*}*/

/*small {*/
/*  color: red;*/
/*}*/

/*label {*/
/*  font-weight: 600;*/
/*}*/

/*#login-card {*/
/*  width: 100%;*/
/*  border-radius: 10px;*/
/*  !*height: 300px;*!*/
/*  box-shadow: 5px 5px 5px gray;*/
/*}*/
/*.form-control {*/
/*  !* border-color: #00fa9a !important; *!*/
/*}*/
/*input:focus {*/
/*  border-color: #00fa9a !important;*/
/*  outline: none !important;*/
/*  box-shadow: none !important;*/
/*}*/

/*#signin-bt {*/
/*  background: none;*/
/*  border-radius: 10px;*/
/*  border: 2px solid #00fa9a;*/
/*  color: #00fa9a;*/
/*}*/

/*#signin-bt:hover {*/
/*  background: none;*/
/*  border-radius: 10px;*/
/*  border: 2px solid #00fa9a;*/
/*  color: #00fa9a;*/

/*}*/

/*#signup-bt {*/
/*  border-radius: 10px;*/
/*  border: 1px solid blue;*/
/*  background: mediumspringgreen;*/
/*  color: mediumblue;*/
/*  text-align: center;*/
/*  width: 95%;*/
/*}*/

/** {*/
/*  text-decoration: none;*/
/*  list-style: none;*/
/*}*/

/*a:hover {*/
/*  text-decoration: none;*/
/*}*/

/*#sign-up {*/
/*  padding-top: 10px;*/
/*  text-align: center;*/
/*  color: mediumblue;*/
/*}*/

/*#forgot-pass {*/
/*  text-align: center;*/
/*  color: mediumblue;*/
/*}*/

/*#welcome {*/
/*  padding-top: 10px;*/
/*  font-family: "Adobe Caslon Pro Bold", monospace;*/
/*  text-shadow: 2px 2px 2px black;*/
/*}*/
