.remove-padding{
  padding: 0;
}

li > .btn-link:hover{
  background-color: darkgray;
  text-align: center;
}

.delete-button{
  position: absolute;
  top: 0;
  right: 10%;
  opacity: 0.2;
  border: none;
  z-index: 2;
}

.delete-button:hover{
  background-color: #872525;
  opacity: 100%;
}

.col{
  position: relative;
}

#roomInventory {
  background-color: #363B42;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#app-inv {
  background-color: black;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #010409;
}

::-webkit-scrollbar-thumb {
  background: #363B42;
  border-radius: 10px;
}

#solvable-button {
  border-radius: 5px;
  background: #3BA55D;
  color: white;
  height: 35px;
}

.overflow-auto {
  background: #010409;
}

.container-card {
  margin: 5px;
  border-radius: 8px;
  background: #363B42;
  outline: none;
  border: none;
}

#create {
  background: #363B42;

}
