 <div class="overflow-auto" style="height: 94vh; width: 315px;">
    <!-- INVENTORY STARTS HERE -->
    <ul class="nav flex-column">
      <li class="border border-dark w-100" style=" background-color: grey; float: left;">Container


        <form #form>
          <input type="file" accept="image/*" name="image" #add_container [hidden]="false">
          <button type="submit" style="float: right;" class="btn btn-link remove-padding">
            <img src="./assets/svg/plus.svg" alt="add container image"/>
          </button>
        </form>


      </li>
      <li id="containerInventory" class="bg-secondary text-white" style="width: 100%;">
        <div class="container-fluid">
          <div class="row" #container_div style="padding-top: 20px;">
            <div class="col">
              <img src="./assets/images/room1.png" (click)="onClick('Container', './assets/images/room1.png',2, 10)" alt="NOT FOUND" class="img-thumbnail">
              <p class="text-center text-black-50">Room 1</p>
            </div>
            <div class="col">
              <img src="./assets/images/con1.png" (click)="onClick('Container', './assets/images/con1.png',null,10)" alt="NOT FOUND" class="img-thumbnail">
              <button class="btn btn-dark remove-padding delete-button" (click)="deleteImage(null)">
                  <img src="./assets/svg/trash-fill.svg" alt="delete image">
              </button>
              <p class="text-center text-black-50">Container 1</p>
            </div>
          </div>
        </div>
      </li>
      <li class="border border-dark w-100" style=" background-color: grey">Puzzle
        <input type="file" accept="image/*" name="idk" #add_puzzle [hidden]="true" (input)="addImage(add_puzzle,'puzzle')">
        <button type="submit" (click)="add_puzzle.click()" style="float: right;" class="btn btn-link remove-padding">
          <img src="./assets/svg/plus.svg" alt="add container image"/>
        </button>
      </li>
      <li id="PuzzleInventory" class="bg-secondary text-white" style="width: 100%;">
        <div class="container-fluid">
          <div class="row" #puzzle_div style="padding-top: 20px;">
            <div class="col">
              <img src="./assets/images/puzzle1.png" (click)="onClick('Puzzle', './assets/images/puzzle1.png',null,10)" alt="NOT FOUND" class="img-thumbnail">
              <p class="text-center text-black-50">Puzzle 1</p>
            </div>
          </div>
        </div>
      </li>
      <li class="border border-dark w-100" style=" background-color: grey">Key
        <input type="file" accept="image/*" name="idk" #add_key [hidden]="true" (input)="addImage(add_key,'key')">
        <button type="submit" (click)="add_key.click()" style="float: right;" class="btn btn-link remove-padding">
          <img src="./assets/svg/plus.svg" alt="add container image"/>
        </button>
      </li>
      <li id="KeyInventory" class="bg-secondary text-white" style="width: 100%;">
        <div class="container-fluid">
          <div class="row" #key_div style="padding-top: 20px;">
            <div class="col">
              <img src="./assets/images/key1.png" (click)="onClick('Keys', './assets/images/key1.png',null,10)" alt="NOT FOUND" class="img-thumbnail">
              <p class="text-center text-black-50">Key 1</p>
            </div>
          </div>
        </div>
      </li>
      <li class="border border-dark w-100" style=" background-color: grey">Clue
        <input type="file" accept="image/*" name="idk" #add_clue [hidden]="true" (input)="addImage(add_clue,'clue')">
        <button type="submit" (click)="add_clue.click()" style="float: right;" class="btn btn-link remove-padding">
          <img src="./assets/svg/plus.svg" alt="add container image"/>
        </button>
      </li>
      <li id="ClueInventory" class="bg-secondary text-white" style="width: 100%;">
        <div class="container-fluid">
          <div class="row" #clue_div style="padding-top: 20px;">
            <div class="col">
              <img src="./assets/images/clue1.png" (click)="onClick('Clue', './assets/images/clue1.png',null,10)" alt="NOT FOUND" class="img-thumbnail">
              <p class="text-center text-black-50">Clue 1</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
