<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reset Password</title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to the Escape Room Planner, <%= @user.username %></h1>
<p>
  To reset your password, just follow this link: <%= @url %>.
</p>
<p>
  Please coontact our help desk if you were not the person who request the password reset. The url will expire after 24 hours.
</p>
</body>
</html>