/* remove padding and margin from browser */
* {
  padding: 0;
  margin: 0;
}

.inventory{
  z-index: 10000;
  position: relative;
  float: right;
  top: 56px;
  width: 300px;
  opacity: 0.7;
}

.timer{
  z-index: 10000;
  position: fixed;
  float: left;
  top: 56px;
  width: 200px;
  opacity: 0.7;
}

.status_menu{
  z-index: 10000;
  position: fixed;
  float: left;
  top: 100px;
  width: 200px;
  opacity: 0.7;
}

.dark-modal .modal-content {
  background-color: #363B42;
  color: white;
  padding: 2%;
}

.dark-modal .custom-btn{
  background-color: #363B42;
  color: white;
  margin-right: 2%;
}

.custom-row{
  border: 1px solid;
  border-color: rgba(255,255,255, 0.5);
}
