<header>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
</header>
<div class="screen">
  <div class="container">
    <div class="left-container">
      <div class="title">
        <h1>Sign In</h1>
      </div>
      <div class="details">
        <form action="">
          <input type="text" placeholder="Email" name="email" id="email" required><br>
          <input type="text" placeholder="Password" name="email" id="pass" required>
        </form>
        <div class="forgot"><p>Forgot Password?</p></div>
        <div class="sign-in">
          <button>Sign In</button>
        </div>
      </div>
    </div>
    <div class="right-container">
        <div id="info">
          <h1>Welcome</h1>
          <h2>This is Escape Rooom Planner blah blah, maybe some more information just to kinda make it more professional or something</h2>
        </div>
        <div id="button">
          <button>SIGN UP</button>
        </div>
    </div>
  </div>
</div>
