<div #solve_div [hidden]="true" class="modal-body rounded border border-4 border-success bg-dark" style=" top: 50%; left: 30%; width: 50%; z-index: 10000">
    <div class="container text-white">
      <div class="row">
        <div class="col-11"></div>
        <div class="col-1" id="delete_but">
          <button (click)="solve_div.hidden=true"class="text-end btn btn-dark remove-padding">
            <img src="/assets/svg/x.svg" alt="NOT FOUND">
          </button>
        </div>
      </div>
      <div class="row" id="container">
        <div class="col-12" id="Start-Vertex-label">Start Vertex:</div>
        <hr class="dropdown-divider text-white">
        <div class="col-12" id="End-Vertex-label">End Vertex:</div>
        <hr class="dropdown-divider text-white">
        <div class="col-12" id="Solvable">Solvable:</div>
        <hr class="dropdown-divider text-white">
        <div class="12" id="SetupOrder" class="SetupOrder"></div>
        <div class="12" id="PossbilePaths" class="Paths to end:"></div>
        <div class="col-12">
          <button (click)="checkSetupOrder()" class="w-100 btn btn-secondary">Setup order</button>
        </div>

      </div>
    </div>
</div>
