<div class="main_div">
  <div class="container-fluid" #escape_room_cards>
    <div class="row justify-content-evenly text-center">
      <div class="col-2">
        <div class="card text-white bg-secondary mb-3 h-100">
          <div class="card-header bg-dark"><h5>Room 1</h5></div>
          <div class="card-body">
            <h5 class="card-title mt-1">Don</h5>
            <div class="row justify-content-evenly text-center mt-2">
              <div class="col-5">
                <h5>10:20</h5>
              </div>
              <div class="col-5">
                <h5>3.5</h5>
              </div>
            </div>
            <div class="row justify-content-evenly text-center">
              <div class="col-5">
                <a>best time</a>
              </div>
              <div class="col-5">
                <a>rating</a>
              </div>
            </div>
            <input type="range" class="form-range" min="1.0" max="5.0" step="0.5" value="1">
          </div>
          <button class="btn btn-dark text-success m-1" type="button">
            Play
          </button>
        </div>
      </div>
      <div class="col-2">
        <div class="card text-white bg-secondary mb-3 h-100">
          <div class="card-header bg-dark"><h5>Room 3</h5></div>
          <div class="card-body">
            <h5 class="card-title mt-1">Josh1234</h5>
            <div class="row justify-content-evenly text-center mt-2">
              <div class="col-5">
                <h5>10:20</h5>
              </div>
              <div class="col-5">
                <h5>3.5</h5>
              </div>
            </div>
            <div class="row justify-content-evenly text-center">
              <div class="col-5">
                <a>best time</a>
              </div>
              <div class="col-5">
                <a>rating</a>
              </div>
            </div>
          </div>
          <button class="btn btn-dark text-success m-1" type="button">
            Play
          </button>
        </div>
      </div>
      <div class="col-2">
        <div class="card text-white bg-secondary mb-3 h-100">
          <div class="card-header bg-dark"><h5>Room 3</h5></div>
          <div class="card-body">
            <h5 class="card-title mt-1">Josh1234</h5>
            <div class="row justify-content-evenly text-center mt-2">
              <div class="col-5">
                <h5>10:20</h5>
              </div>
              <div class="col-5">
                <h5>3.5</h5>
              </div>
            </div>
            <div class="row justify-content-evenly text-center">
              <div class="col-5">
                <a>best time</a>
              </div>
              <div class="col-5">
                <a>rating</a>
              </div>
            </div>
          </div>
          <button class="btn btn-dark text-success m-1" type="button">
            Play
          </button>
        </div>
      </div>
      <div class="col-2">
        <div class="card text-white bg-secondary mb-3 h-100">
          <div class="card-header bg-dark"><h5>Room 3</h5></div>
          <div class="card-body">
            <h5 class="card-title mt-1">Josh1234</h5>
            <div class="row justify-content-evenly text-center mt-2">
              <div class="col-5">
                <h5>10:20</h5>
              </div>
              <div class="col-5">
                <h5>3.5</h5>
              </div>
            </div>
            <div class="row justify-content-evenly text-center">
              <div class="col-5">
                <a>best time</a>
              </div>
              <div class="col-5">
                <a>rating</a>
              </div>
            </div>
          </div>
          <button class="btn btn-dark text-success m-1" type="button">
            Play
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


