.remove-padding{
  padding: 0;
}

.remove-margin{
  margin: 0;
}

/* Escape Room selection menu colour on hover */
/*.dropdown-menu > li > div:hover, .dropdown-menu > li > div:focus {*/
/*  background-color:grey;*/
/*}*/

#delete_button > button:hover {
  background-color: #a31818;
  color: black;
}

#room-plan{
  /* transparent colour */
  /*background-blend-mode: darken;*/
  background-image: url("../../../assets/images/grid.png");
  background-repeat: repeat;
  background-color: #7f7f7f;
}

#room-plan > img{
  opacity: 1;
}

#room{
  z-index: 0;
  position: absolute;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -o-transition: opacity 0.215s linear;
  transition: opacity 0.25s linear;
}
.fade.show {
  opacity: 1;
}

.room-creater-margin-top
{
  margin-top: 3%;
}

.room-creater-margin-left
{
  margin-left: 20%;
}

.dropdown-margin
{
  margin-left: 20% !important;
}
.inventory-depth
{
  z-index: 2;
}

.vertex-tag{
  position: absolute;
  user-select: none;
  text-align: center;
  overflow: hidden;
  background-color: black;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#escapeRoomsDropdown {
  margin: 4px 0px 4px 4px;
  background: #363B42;
  border-radius: 5px 0px 0px 5px;
  width: 720px;
  height: 35px;
  color: white;
  outline: none;
  border: none;

}

#droppy {
  width: 720px;
}

#new-room {
  height: 35px;
  width: 100px;
  background: #3BA55D;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
}

#generate {
  /*float: right;*/
  height: 35px;
  background: none;
  outline: none;
  border-radius: 5px;
  border: 2px solid #3BA55D;
  margin: 4px 0px 4px 10px;
  color: #3BA55D;
  text-align: center;
  width: 180px;
}
