<div #backdrop_div [hidden]="hasRooms" class="container-fluid remove-padding border-top border-secondary">
  <div class="text-center">
    <img src="./assets/svg/key_logo.svg" draggable="false" alt="NOT FOUND">
  </div>
  <div class="text-center" style="font-family: Brush Script MT, Brush Script Std, cursive;">
    <h1>Begin Your Experience</h1>
  </div>
  <div class="text-center" style="margin-top: 20rem;">
    <button data-bs-toggle="modal" data-bs-target="#newEscapeRoomForm" class="btn btn-outline-success btn-block">Create Room</button>
  </div>

</div>
<div  [hidden]="!backdrop_div.hidden"  class="container-fluid remove-padding room-creater-margin-top" (click)="hideContextMenu($event)">
  <div class="container-fluid remove-padding" #alertElementError></div>   <!-- ERROR ALERT MESSAGE -->
  <div class="row room-creater-space">

    <!-- INVENTORY STARTS HERE -->
    <app-inventory class="col-sm-2 bg-secondary d-sm-flex position-fixed inventory-depth" style="border-style: solid" (afterClick)="addObjects($event)" (error)="renderAlertError('Can\'t load the inventory')" (checkSolvable)="checkSolvable()"></app-inventory>
    <!-- SOLVE-ABILITY STARTS HERE -->
    <app-solvability style="position: absolute;"></app-solvability>
    <!-- ESCAPE ROOMS START HERE -->
    <div class="col-sm-10 d-lg-flex remove-padding room-creater-margin-left">
      <div class="container-fluid remove-padding">
        <div class="row">
          <div class="col-sm-12 dropdown remove-padding">
            <button class=" btn-secondary dropdown-toggle w-100 remove-padding" type="button" id="escapeRoomsDropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
              Select Escape Room
            </button>
            <ul class="dropdown-menu w-100 overflow-auto remove-padding bg-dark" style="max-height: 600%" aria-labelledby="escapeRoomsDropdown" #EscapeRoomList>
              <!-- INSERTS CREATED ROOMS HERE -->
              <li class="dropdown-item text-center remove-padding">
                <button type="button"  class="btn btn-dark remove-padding w-100 h-100" data-bs-toggle="modal" data-bs-target="#newEscapeRoomForm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                  </svg>
                </button>
              </li>
              <li><hr class="dropdown-divider text-white"></li>
            </ul>
          </div>
        </div>
        <div class="row vh-100 ml-4">
          <div class="container-fluid escape-room remove-padding" id="room-plan" #escapeRoomDiv>
            <!--  INSERTS DRAGGABLE OBJECTS HERE  -->
          </div>
          <!-- CONTEXT MENU HERE -->
          <div id="context_menu" class="rounded-3 border border-5 border border-dark container-fluid bg-dark text-light remove-padding" style="width: 14vw;position: absolute; z-index: 99999999" [hidden]="true" #contextMenu>
            <div class="row" data-close="true">
              <div class="col" id="PUT ID HERE" style="text-align: center" data-close="true">
                <button type="button"  class="text-start btn btn-dark remove-padding" data-close="true" style="float: left;" (click)="changeCurrentZ(-1)">
                  <img src="/assets/svg/dash-square.svg" alt="bring backward" data-close="true">
                </button>
                {{_target_vertex_z_index}}
                <button type="button"  class="text-start btn btn-dark remove-padding" data-close="true" style="float: right;" (click)="changeCurrentZ(1)">
                  <img src="/assets/svg/plus-square.svg" alt="bring forward" data-close="true">
                </button>
              </div>
            </div>
            <hr class="dropdown-divider text-white">
            <div class="row">
              <div class="col">
                <button type="button"  class="text-start btn btn-dark remove-padding w-100 h-100" (click)="connectVertex()">
                  Connect
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                    <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                  </svg>
                </button>
              </div>
            </div>
            <hr class="dropdown-divider text-white">
            <div class="row">
              <div class="col">
                <button type="button"  class="text-start btn btn-dark remove-padding w-100 h-100" (click)="disconnectVertex()">
                  Remove Connection
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill" viewBox="0 0 16 16">
                    <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                  </svg>
                </button>
              </div>
            </div>
            <hr class="dropdown-divider text-white">
            <div class="row">
              <div class="col" id="set_start">
                <button type="button"  class="text-start btn btn-dark remove-padding w-100 h-100" (click)="setStart()">
                  Set Start
                  <img src="/assets/svg/flag.svg" alt="NOT FOUND">
                </button>
              </div>
            </div>
            <hr class="dropdown-divider text-white">
            <div class="row">
              <div class="col" id="set_end">
                <button type="button"  class="text-start btn btn-dark remove-padding w-100 h-100" (click)="setEnd()">
                  Set End
                  <img src="/assets/svg/flag-fill.svg" alt="NOT FOUND">
                </button>
              </div>
            </div>
            <hr class="dropdown-divider text-white">
            <div class="row">
              <div class="col" id="delete_button">
                <button type="button"  class="text-start btn btn-dark remove-padding w-100 h-100" (click)="removeVertex()">
                  Delete
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <!-- ATTRIBUTE MENU -->
          <div id="attribute_menu" class="rounded-3 border border-5 border border-dark container-fluid bg-dark text-light remove-padding" style="width: 14vw;position: absolute; z-index: 99999999" [hidden]="true" #attributeMenu>
            <div class="row">
              <div class="col">
                <label  class="text-center remove-padding w-100 h-100" (click)="connectVertex()">
                  Properties
                </label>
              </div>
            </div>
            <hr class="dropdown-divider text-white">
            <div class="row">
              <div class="input-group input-group-sm mb-1">
                <span class="input-group-text bg-secondary border-secondary col-5">
                      <small class="text-white">Type</small>
                   </span>
                <input class="form-control bg-dark text-white border-secondary" type="text"
                       placeholder="{{vertex_type}}" readonly>
              </div>
            </div>
            <form #attribute="ngForm" (ngSubmit)="updateAttribute(attribute.value)">
              <div class="row">
                 <div class="input-group input-group-sm mb-1">
                   <span class="input-group-text bg-secondary border-secondary col-5" id="name_attribute">
                      <small class="text-white">Name</small>
                   </span>
                   <input type="text" class="form-control bg-dark text-white border-secondary" ngModel
                          aria-label="Sizing example input" placeholder="{{vertex_name_menu}}"
                          aria-describedby="name_attribute" name="attribute_name">
                 </div>
              </div>
              <div class="row">
                 <div class="input-group input-group-sm mb-1">
                   <span class="input-group-text bg-secondary border-secondary col-5" id="estimated_time_attribute">
                      <small class="text-white">Time</small>
                    </span>
                   <input type="number" id="estimate_time_min" class="form-control bg-dark text-white border-secondary"
                          value="{{vertex_min_menu}}" placeholder="min" min="0" aria-label="Sizing example input"  ngModel
                          aria-describedby="estimated_time_attribute" name="attribute_min">
                    <input type="number" id="estimate_time_second" class="form-control bg-dark text-white border-secondary"
                          value="{{vertex_sec_menu}}" placeholder="sec" min="0" max="59" aria-label="Sizing example input" ngModel
                           aria-describedby="estimated_time_attribute" name="attribute_sec">
                 </div>
              </div>
              <div [hidden]="hideClue" class="row">
                <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text bg-secondary border-secondary col-5" id="clue_attribute">
                     <small class="text-white">Clue</small>
                   </span>
                  <input type="text" class="form-control bg-dark text-white border-secondary" ngModel
                         aria-label="Sizing example input" aria-describedby="clue_attribute" name="attribute_clue"
                         placeholder="{{vertex_clue_menu}}">
                </div>
              </div>
              <div [hidden]="hidePuzzle" class="row">
                 <div class="input-group input-group-sm mb-1">
                   <span class="input-group-text bg-secondary border-secondary col-5" id="description_attribute">
                     <small class="text-white">Description</small>
                    </span>
                   <input type="text" class="form-control bg-dark text-white border-secondary" aria-label="Sizing example input"
                           aria-describedby="description_attribute" ngModel name="attribute_description"
                           placeholder="{{vertex_description_menu}}">
                  </div>
              </div>
              <button type="submit" style="display:none">hidden submit</button>
            </form>
          </div>
          <!-- END ATTRIBUTE MENU -->
        </div>
      </div>
    </div>
  </div>
</div>



<!-- modal view popout here-->
<div class="modal fade" id="newEscapeRoomForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Escape Room</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- warning for empty form input -->
        <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="!newEscapeRoomNameValid">
          <strong>Oof!</strong> Please give the new room a name consisting of alphanumeric characters
        </div>
        <form name="NewEscapeRoomForm">
          <div class="mb-3 form-group">
            <label for="recipient-name" class="col-form-label">Room Name:</label>
            <input type="text"
                   name="EscapeRoomName"
                   class="form-control"
                   id="recipient-name"
                   placeholder="Some quirky name"
                   required
                   [(ngModel)]="newEscapeRoomName"
                   (input)="isNewEscapeRoomNameValid()">
          </div>
        </form>
      </div>

      <div class="modal-footer form-group">
        <button class="btn btn-primary" data-bs-dismiss="modal" (click)="createEscapeRoom()" [disabled]="!newEscapeRoomNameValid">Create</button>
      </div>
    </div>
  </div>

</div>


