.remove-padding{
  padding: 0;
}

/* Escape Room selection menu colour on hover */
.dropdown-menu > li > div:hover, .dropdown-menu > li > div:focus {
  background-color:grey;
}

#delete_button > button:hover {
  background-color: #a31818;
  color: black;
}

#room{
  z-index: 0;
  position: absolute;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -o-transition: opacity 0.215s linear;
  transition: opacity 0.25s linear;
}
.fade.show {
  opacity: 1;
}
