<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 bg-secondary d-sm-flex" style="border-style: solid">
      <div class="overflow-auto" style="height: 94vh; width: 315px;">
        <ul class="nav flex-column">
          <li class="border border-dark w-100" style=" background-color: grey">Container</li>
          <li id="containerInventory" class="bg-secondary text-white" style="width: 100%;">
            <div class="container-fluid">
              <div class="row" style="padding-top: 20px;">
                <div class="col">
                  <img src="./assets/images/room1.png" (click)="addObjects('container', 'room1.png', 10)" alt="NOT FOUND" class="img-thumbnail" appDraggable>
                  <p class="text-center text-black-50">Room 1</p>
                </div>
                <div class="col">
                  <img src="./assets/images/con1.png" (click)="addObjects('container', 'con1.png',10)" alt="NOT FOUND" class="img-thumbnail">
                  <p class="text-center text-black-50">Container 1</p>
                </div>
              </div>
            </div>
          </li>
          <li class="border border-dark w-100" style=" background-color: grey">Puzzle</li>
          <li id="PuzzleInventory" class="bg-secondary text-white" style="width: 100%;">
            <div class="container-fluid">
              <div class="row" style="padding-top: 20px;">
                <div class="col">
                  <img src="./assets/images/puzzle1.png" (click)="addObjects('puzzle', 'puzzle1.png',10)" alt="NOT FOUND" class="img-thumbnail">
                  <p class="text-center text-black-50">Puzzle 1</p>
                </div>
                <div class="col">
                  <img src="./assets/images/puzzle1.png" (click)="addObjects('puzzle', 'puzzle1.png',10)" alt="NOT FOUND" class="img-thumbnail">
                  <p class="text-center text-black-50">Puzzle 2</p>
                </div>
              </div>
            </div>
          </li>
          <li class="border border-dark w-100" style=" background-color: grey">Key</li>
          <li id="KeyInventory" class="bg-secondary text-white" style="width: 100%;">
            <div class="container-fluid">
              <div class="row" style="padding-top: 20px;">
                <div class="col">
                  <img src="./assets/images/key1.png" (click)="addObjects('key', 'key1.png',10)" alt="NOT FOUND" class="img-thumbnail">
                  <p class="text-center text-black-50">Key 1</p>
                </div>
                <div class="col">
                  <img src="./assets/images/key1.png" (click)="addObjects('key', 'key1.png',10)" alt="NOT FOUND" class="img-thumbnail">
                  <p class="text-center text-black-50">Key 2</p>
                </div>
              </div>
            </div>
          </li>
          <li class="border border-dark w-100" style=" background-color: grey">Clue</li>
          <li id="ClueInventory" class="bg-secondary text-white" style="width: 100%;">
            <div class="container-fluid">
              <div class="row" style="padding-top: 20px;">
                <div class="col">
                  <img src="./assets/images/clue1.png" (click)="addObjects('clue', 'clue1.png',10)" alt="NOT FOUND" class="img-thumbnail">
                  <p class="text-center text-black-50">Clue 1</p>
                </div>
                <div class="col">
                  <img src="./assets/images/clue1.png" (click)="addObjects('clue', 'clue1.png',10)" alt="NOT FOUND" class="img-thumbnail">
                  <p class="text-center text-black-50">Clue 2</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-10 d-lg-flex">
      <div class="container-fluid remove-padding">
        <div class="row">
          <div class="col-sm-12 dropdown remove-padding">
            <button class=" btn-secondary dropdown-toggle w-100 remove-padding" type="button" id="escapeRoomsDropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
              Select Escape Room
            </button>
            <ul class="dropdown-menu w-100 overflow-auto" style="max-height: 600%" aria-labelledby="escapeRoomsDropdown">
              <!--insert rooms here on button click-->
              <li class="dropdown-item text-center"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newEscapeRoomForm" data-bs-whatever="@mdo">+</button> </li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item">ROOM 1</a></li>
              <li><a class="dropdown-item">ROOM 2</a></li>
              <li><a class="dropdown-item">ROOM 3</a></li>
              <li><a class="dropdown-item">ROOM 1</a></li>
              <li><a class="dropdown-item">ROOM 2</a></li>
              <li><a class="dropdown-item">ROOM 3</a></li>
              <li><a class="dropdown-item">ROOM 1</a></li>
              <li><a class="dropdown-item">ROOM 2</a></li>
              <li><a class="dropdown-item">ROOM 3</a></li>
              <li><a class="dropdown-item">ROOM 1</a></li>
              <li><a class="dropdown-item">ROOM 2</a></li>
              <li><a class="dropdown-item">ROOM 3</a></li>
              <li><a class="dropdown-item">ROOM 1</a></li>
              <li><a class="dropdown-item">ROOM 2</a></li>
              <li><a class="dropdown-item">ROOM 3</a></li>
              <li><a class="dropdown-item">ROOM 1</a></li>
              <li><a class="dropdown-item">ROOM 2</a></li>
              <li><a class="dropdown-item">ROOM 3</a></li>
              <li><a class="dropdown-item">ROOM 1</a></li>
              <li><a class="dropdown-item">ROOM 2</a></li>
              <li><a class="dropdown-item">ROOM 3</a></li>
              <li><a class="dropdown-item">ROOM 1</a></li>
              <li><a class="dropdown-item">ROOM 2</a></li>
              <li><a class="dropdown-item">ROOM 3</a></li>
              <li><a class="dropdown-item">ROOM 1</a></li>
              <li><a class="dropdown-item">ROOM 2</a></li>
              <li><a class="dropdown-item">ROOM 3</a></li>
              <li><a class="dropdown-item">ROOM 1</a></li>
              <li><a class="dropdown-item">ROOM 2</a></li>
              <li><a class="dropdown-item">ROOM 3</a></li>
              <li><a class="dropdown-item">ROOM 1</a></li>
              <li><a class="dropdown-item">ROOM 2</a></li>
              <li><a class="dropdown-item">ROOM 3</a></li>
              <li><a class="dropdown-item">ROOM 1</a></li>
              <li><a class="dropdown-item">ROOM 2</a></li>
              <li><a class="dropdown-item">ROOM 3</a></li>
              <li><a class="dropdown-item">ROOM 1</a></li>
              <li><a class="dropdown-item">ROOM 2</a></li>
              <li><a class="dropdown-item">ROOM 3</a></li>

            </ul>
          </div>
        </div>
        <div class="row vh-100">
          <div class="container-fluid escape-room" style="background-color: grey" #escapeRoomDiv>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal view popout here-->
<div class="modal fade" id="newEscapeRoomForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Escape Room</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Room Name:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>
