.remove-padding{
  padding: 0;
}

.remove-margin{
  margin: 0;
}

/* Escape Room selection menu colour on hover */
.dropdown-menu > li > div:hover, .dropdown-menu > li > div:focus {
  background-color:grey;
  width: 100%;
}

#delete_button > button:hover {
  background-color: #a31818;
  color: black;
}

#room-plan{
  /* transparent colour */
  /*background-blend-mode: darken;*/
  background-image: url("../../../assets/images/grid.png");
  background-repeat: repeat;
  background-color: #363B42;
  background-size: 20px;
}

#room-plan > img{
  opacity: 1;
}

#room{
  z-index: 0;
  position: absolute;
  overflow-y: hidden;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -o-transition: opacity 0.215s linear;
  transition: opacity 0.25s linear;
}
.fade.show {
  opacity: 1;
}

.room-creater-margin-top
{
  margin-top: 4.2%;
  border-radius: 10px;
}

.room-creater-margin-left
{
  margin-left: 18.5%;
}

.dropdown-margin
{
  margin-left: 20% !important;
}
.inventory-depth
{
  z-index: 2;
}

.vertex-tag{
  position: absolute;
  user-select: none;
  text-align: center;
  overflow: hidden;
  background-color: black;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#escapeRoomsDropdown {
  margin: 4px 0px 6px 0px;
  background: #363B42;
  border-radius: 5px;
  /*width: 720px;*/
  height: 35px;
  color: white;
  outline: none;
  border: none;
  font-family: "UniSansThin", monospace;
  font-weight: bold;
}

#droppy {
  width: 720px;
}

/*.dropdown-menu:hover {*/
/*  color: #3BA55D;*/
/*  ba*/
/*}*/

#new-room {
  height: 35px;
  /*width: 100px;*/
  background: #3BA55D;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: "UniSansThin", monospace;
  font-weight: bold;
  /*margin-right: 4px;*/
}

/*#generate {*/
/*  !*float: right;*!*/
/*  height: 35px;*/
/*  background: none;*/
/*  outline: none;*/
/*  border-radius: 5px;*/
/*  border: 2px solid #3BA55D;*/
/*  margin: 4px 8px 6px 8px;*/
/*  color: #3BA55D;*/
/*  text-align: center;*/
/*  width: 180px;*/
/*  font-family: "UniSansThin", monospace;*/
/*  font-weight: bold;*/
/*}*/

#simulate {
  height: 35px;
  /*width: 135px;*/
  /*margin-left: 8px;*/
  background: #1A73E8;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-family: "UniSansThin", monospace;
  font-weight: bolder;
}

.button_icons {
  height: 22px;
  width: 22px;
  justify-content: center;
  padding-bottom: 5px;
}

.description {
  height: 20px;
}
