.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  animation: page-load 300ms;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}

.container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 100px;
  animation: top-load 300ms;
}

.logo {
  height: 50px;
  width: 450px;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
  background: var(--green);
}

.card-text h2 {
  text-align: center;
}

.logo h2 {
  text-align: center;
  font-size: 20px;
}

.signup {
  text-align: center;
  padding-top: 15px;
}

input {
  border: none;
  box-shadow: none;
  background: var(--main-bg);
  color: white;
}

input:focus {
  background: var(--main-bg);
  color: white;
}

login-form {
  height: 400px;
  margin: 20px;
  background: var(--sec-bg);
  border: none;
}

.card-body{
  width: 450px;
  background: var(--sec-bg);
}

#form-card {
  border-radius: 0px 0px 5px 5px;
}

#sign-in {
  border-radius: 5px 5px 0px 0px;
}

.card {
  border: none;
  overflow: hidden;
}

form {
  font-size: 14px;
}

a {
  color: var(--green);
}

a:hover {
  color: var(--green)
}

.btn {
  color: var(--green);
  border-color: var(--green);
}

.resendEmail
{
  color: green;
  background-color: #010409;
  border: none
}

.resendEmail:hover
{
  text-decoration: underline;
  text-underline: green;
}
